<po-page-dynamic-table
  [p-auto-router]="true"
  [p-concat-filters]="true"
  [p-keep-filters]="true"
  p-title="Registros Auditoria de Etiqueta"
  [p-actions]="actions"
  [p-actions-right]="actionsRight"  
  [p-table-custom-actions]="tableCustomActions"
  [p-breadcrumb]="breadcrumb"
  [p-fields]="fields"
  [p-service-api]="serviceApi"
  [p-quick-search-width]="quickSearchWidth"
  [p-hide-remove-all-disclaimer]="hideRemoveAllDisclaimer"
  [p-hide-close-disclaimers]="hideCloseDisclaimers"
  [p-text-wrap]="true"
>
</po-page-dynamic-table>

<po-modal #logDetailModal p-title="Detalhes do Log">
  <po-dynamic-view [p-fields]="detailFields" [p-value]="logAudit"> </po-dynamic-view>
</po-modal>
