<po-page-dynamic-table
  [p-auto-router]="false"
  [p-concat-filters]="false"
  [p-keep-filters]="true"
  p-title="Registros Auditoria de Etiqueta"
  [p-actions]="actions"
  [p-actions-right]="actionsRight"
  [p-table-custom-actions]="tableCustomActions"
  [p-breadcrumb]="breadcrumb"   
  [p-quick-search-width]="3"
  [p-hide-remove-all-disclaimer]="true"   
  [p-text-wrap]="true"
  p-service-api="http://192.168.1.240:8180/api/csp/v1/api-poui"
  [p-load]="onLoad.bind(this)"> <!-- Adicione este evento -->
</po-page-dynamic-table>